<h1>Created.</h1>
<table>
  <tr>
    <th>No.</th>
    <th>Temperature</th>
    <th>Humidity</th>
  </tr>
  <tr>
    <td><%= @agri.id %></td>
    <td><%= @agri.temp %></td>
    <td><%= @agri.hum %></td>
    <td><%= @agri.created_at %></td>
  </tr>
</table>
<a href="/">Back to Top</a>
